<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Chat</title>
</head>
<body>
<h1>Chat with User</h1>

<div id="chat-box">
  {{range .messages}}
  <p><strong>{{.SenderID}}:</strong> {{.Content}}</p>
  {{end}}
</div>

<form action="/admin/chat/{{.chatID}}/send" method="POST">
  <input type="text" name="message" id="message-input" placeholder="Type a response..." required>
  <button type="submit" id="send-button">Send</button>
</form>

<br>
<a href="/admin/chats"><button>Back to Chats</button></a>
</body>

<script>
  var ws = new WebSocket("wss://carsellproject.onrender.com/wss");

  ws.onopen = function() {
  console.log("WebSocket connection established.");
};


  ws.onmessage = function(event) {
    var message = JSON.parse(event.data);
    var chatBox = document.getElementById("chat-box");

    var messageElement = document.createElement("p");
    messageElement.innerHTML = "<strong>" + message.sender_id + ":</strong> " + message.content;
    chatBox.appendChild(messageElement);
    chatBox.scrollTop = chatBox.scrollHeight;
  };


  // Function to send a new message to the server
  function sendMessage() {
    var input = document.getElementById("message-input");
    var messageContent = input.value;
    var chatId = "{{.chatID}}"

    var message = {
      chat_id: chatId,
      sender_id: "Admin",  // Исправлено с Sender на sender_id
      content: messageContent,
      created_at: new Date().toISOString() // Добавлено время
    };

    ws.send(JSON.stringify(message));
    input.value = "";
  }

  // Attach the send message function to the "Send" button
  document.getElementById("send-button").onclick = function() {
  sendMessage();
};
</script>


</html>
